.mainheading{
    text-align: center;
    
}

footer{
	background-color: black;
	clear:both;
	text-align:center;
	color:white;
}

/* unvisited link */
a:link{
	color:black;
}
/* visited link */
a:visited{
	color:green;
}
/* mouse over link */
a:hover{
	color:red;
}
/* selected link */
a:active{
	color:green;
}

body {
	background-color: black;
	
}

#container {
	background-color: grey;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: black;
	color: white;
	text-align: center;
}

#content {
	padding: 10px 10px 10px 10px;
}

#main {
	width: 600px;
	float: right;
	
}

#footer {
	background-color: black;
	clear:both;
	text-align:center;
	color:white;
}

#pagenav {
	clear: both;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:active {
  background-color: #4CAF50;
  color: white;
}
